:root {
  --main-color: rgb(0, 0, 0);
  --hover-color: rgb(0, 0, 0);
  --bg-color: white;
  --hover-bg-color: rgba(0, 0, 0, 0.359);

}


@font-face {
    font-family: 'PangaiaFont';
    src: url('fonts/PPPangaia-Bold.otf') format("opentype");
}
    
    html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'PangaiaFont', sans-serif; /* Apply the custom font */
}

.background  {
    height: 200vh; /* Ensures the page is tall enough to scroll */
    background-image: url(images/backgroundCutAnimatedNight.svg);
    background-size: cover; /* Ensures the image covers the entire background */
    background-attachment: scroll; /* This makes the background scroll with the content */
    background-repeat: no-repeat;
    background-position: center top; /* Centers the background image */
}

.content {
    position: relative;
    z-index: 1;
    padding: 100px;
}

.boxBusinessCard {
    width: 450px;
    height: 380px;
    background-color: rgb(246,246,246);
    top: 18%; /* Adjust position as needed */
    left: 5%;
    transform: translate(-4%, -4%);
    border-radius: 15px; /* Rounded edges */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(9, 9, 9); /* Text color */
    font-size: 10vh; /* Text size */
    box-shadow: 
    1px 1px 0px #d6d6d6,
    2px 2px 0px #d6d6d6,
    3px 3px 0px #d6d6d6,
    4px 4px 0px #d6d6d6,
    5px 5px 0px #d6d6d6,
    6px 6px 0px #d6d6d6;
    position:relative;
    transition: transform 0.45s ease-out, background-color 0.45s ease-out, color 0.45s ease-out, filter 0.45s ease-out;
    text-align: center;
    text-decoration: none; /* Remove underline from link */
}
@media (max-width: 600px) {
  .boxBusinessCard {
    width: 80vw;
    height: 35vh;
    background-color: rgb(220, 220, 220);
    top: 30vh; /* Adjust position as needed */
    left: 10vw;
    transform: translate(0%, 0%);
    font-size: 7vw;
    position:fixed;
}
}
@media (max-width: 900px) {
  .boxBusinessCard {
    width: 80vw;
    height: 35vh;
    max-width: 350px;
    background-color: rgb(220, 220, 220);
    top: 30vh; /* Adjust position as needed */
    left: 10vw;
    transform: translate(0%, 0%);
    font-size: 9vh;
    position:fixed;
}
}


.boxBusinessCard.boxBusinessCard img {
  margin-left: 10px; /* Adjust as needed */
  transition: filter 0.45s ease-out;
}

.boxBusinessCard {
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
  transform: var(--translateY) scale(1);
}

.boxBusinessCard:hover {
  background-color: rgb(220, 220, 220); /* Inverted background color */
  color: rgb(9, 9, 9); /* Inverted text color */
  filter: invert(1); /* Invert SVG colors */
  transform:  scale(1.05); /* Slightly enlarge the box */
  box-shadow: 
    1px 1px 0px #99999979,
    2px 2px 0px #99999979,
    3px 3px 0px #99999979,
    4px 4px 0px #99999979,
    5px 5px 0px #99999979,
    6px 6px 0px #99999979;
}

.boxLinkedIn {
  width: 20vw;
  height: 10vh;
  background-color: rgb(21,20,20);
  top: -10%; /* Adjust position as needed */
  left: 60%;
  transform: translate(4%, -4%);
  border-radius: 15px; /* Rounded edges */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* Remove underline from link */
  box-shadow: 
    1px 1px 0px #99999979,
    2px 2px 0px #99999979,
    3px 3px 0px #99999979,
    4px 4px 0px #99999979,
    5px 5px 0px #99999979,
    6px 6px 0px #99999979;
  position: relative;
  min-width: 290px;
  transition: transform 0.45s ease-out, background-color 0.45s ease-out, color 0.45s ease-out, filter 0.45s ease-out; 
}
.linkedInText {
  color: rgb(246,246,246); /* Text color */
  font-size: 70px; /* Text size */
  text-align: center;
}
.linkedInIcon{
  width: 100%; /* Adjusts the width to the container's width */
  height: auto; /* Maintains the aspect ratio */
  max-width: 100px; /* Maximum width for the icon */
  filter: invert(1);

}
@media (max-width: 600px) {
  .boxLinkedIn {
    width: 25vw;
    height: 10vh;
    max-width: 100px;
    min-width: 1px;
    background-color: rgb(21,20,20);
    top: 7vh; /* Adjust position as needed */
    left: 5vh; }
  .linkedInText {
      display: none;
  }
  .linkedInIcon{
    width: 150px;
    height: auto;
  }
}

@media (max-width: 900px) {
  .boxLinkedIn {
    width: 25vw;
    height: 10vh;
    max-width: 100px;
    min-width: 1px;
    background-color: rgb(21,20,20);
    top: 7vh; /* Adjust position as needed */
    left: 5vh; }
  .linkedInText {
      display: none;
  }
  .linkedInIcon{
    width: 150px;
    height: auto;
  }
}


.boxLinkedIn img {
  margin-left: -0.01px; /* Adjust as needed */
  transition: filter 0.45s ease-out;
}

.boxLinkedIn:hover {
  background-color: rgb(0, 0, 0); /* Inverted background color */
  color: rgb(0,0,0); /* Inverted text color */
  filter: invert(); /* Invert SVG colors */
  transform: scale(1.05); /* Slightly enlarge the box */
}

.boxMail {
  width: 120px;
  height: 100px;
  background-color: rgb(234,235,235);
  top: 5%; /* Adjust position as needed */
  left: 90%;
  transform: translate(4%, -4%);
  border-radius: 15px; /* Rounded edges */
  display: flex;
  filter: invert(1);
  align-items: center;
  justify-content: center;
  color: rgb(21, 20, 20); /* Text color */
  font-size: 55px; /* Text size */
  box-shadow: 
    1px 1px 0px #99999979,
    2px 2px 0px #99999979,
    3px 3px 0px #99999979,
    4px 4px 0px #99999979,
    5px 5px 0px #99999979,
    6px 6px 0px #99999979;
  position: relative;
  transition: transform 0.45s ease-out, background-color 0.45s ease-out, color 0.45s ease-out, filter 0.45s ease-out;
  text-align: center;
  text-decoration: none; /* Remove underline from link */
}
@media (max-width: 600px) {
  .boxMail {
    width: 20vw;
    height: 100px;
    max-width: 120px;
    background-color: rgb(218, 210, 210);
    top: 65vh; /* Adjust position as needed */
    left: 2vw; 
}
}
@media (max-width: 900px) {
  .boxMail {
    width: 28vw;
    height: 12vh;
    max-width: 120px;
    background-color: rgb(218, 210, 210);
    top: 65vh; /* Adjust position as needed */
    left: 2vw; 
}
}

.boxMail img {
  margin-left: 10px; /* Adjust as needed */
  transition: filter 0.45s ease-out;
}

.boxMail:hover {
  filter: none; 
  background-color: rgb(255, 255, 255); /* Inverted background color */
  color: rgb(255, 255, 255); /* Inverted text color */
  transform: scale(1.05); /* Slightly enlarge the box */
}

.boxPhone {
  width: 120px;
  height: 100px;
  background-color: rgb(234,235,235);
  top: 15%; /* Adjust position as needed */
  left: 60%;
  transform: translate(4%, -4%);
  border-radius: 15px; /* Rounded edges */
  display: flex;
  filter: invert(1);
  align-items: center;
  justify-content: center;
  color: rgb(21, 20, 20); /* Text color */
  font-size: 55px; /* Text size */
  box-shadow: 
    1px 1px 0px #99999979,
    2px 2px 0px #99999979,
    3px 3px 0px #99999979,
    4px 4px 0px #99999979,
    5px 5px 0px #99999979,
    6px 6px 0px #99999979;
  position: relative;
  transition: transform 0.45s ease-out, background-color 0.45s ease-out, color 0.45s ease-out, filter 0.45s ease-out;
  text-align: center;
  text-decoration: none; /* Remove underline from link */
}
@media (max-width: 600px) {
  .boxPhone {
    width: 20vw;
    height: 100px;
    max-width: 120px;
    background-color: rgb(234,235,235);
    top: 65vh; /* Adjust position as needed */
    left: 2vw; 
}
}
@media (max-width: 900px) {
  .boxPhone {
    width: 28vw;
    height: 12vh;
    max-width: 120px;
    background-color: rgb(234,235,235);
    top: 30vh; /* Adjust position as needed */
    left: 65vw; 
}
}

.boxPhone img {
  margin-left: 10px; /* Adjust as needed */
  transition: filter 0.45s ease-out;
}

.boxPhone:hover {
  background-color: rgb(255, 255, 255); /* Inverted background color */
  color: rgb(0, 0, 0); /* Inverted text color */
  filter: none; /* Invert SVG colors */
  transform: scale(1.2); /* Slightly enlarge the box */
}




.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  position: relative;
}

.menu a {
  display: block;
  padding: 9px;
  text-decoration: none;
  color: var(--main-color); /* Use variable for text color */
  background-color: var(--bg-color); /* Background color for the main menu */
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.menu a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hover-bg-color); /* Use variable for background color */
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 1;
}

.menu a:hover::before {
  transform: translateX(0);
}

.menu a:hover {
  color: var(--hover-color); /* Invert text color */
}

.menu a {
  position: relative;
  z-index: 2; /* Ensure text is above the hover effect */
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(109, 100, 100, 0.3); /* More prominent shadow */
}

.dropdown a {
  color: rgb(0, 0, 0); /* Text color for the dropdown menu */
}

.menu li:hover .dropdown,
.menu li .dropdown.show {
  display: block;
}

/* Used to scroll back to the top */
.button {
  width: 50px;
  height: 50px;
  top: 120vh;
  left: 89vw;
  border-radius: 50%;
  background-color: rgb(249, 249, 249);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(109, 100, 100, 0.3);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: rgb(0, 0, 0);
}

.button:hover {
  width: 140px;
  left: 86.5vw; /* Adjust the left position */
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 255, 255);
  align-items: center;
}
@media (max-width: 600px) {
  .button:hover {
    width: 50px;
    left: 89vw;
  
}
}
@media (max-width: 900px) {
  .button:hover {
    width: 50px;
    left: 89vw;
}
}

.button:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: 20px;
  content: "Back to Top";
  color: rgb(0, 0, 0);
  font-size: 0px;
}
@media (max-width: 600px) {
  .button::before {
    content: " ";
  
}
}
@media (max-width: 900px) {
  .button::before {
    content: " ";
}
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  left: 95vw;
  top: -75vh;
  height: 2em;
  transform-style: preserve-3d;
  perspective: 500px;
  animation: toggle__animation 3s infinite;
}

.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #ffffff;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
     rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #000000;
  
}

.input__check:checked + .slider {
  background-color: #000000;
}

.input__check:checked + .slider:before {
  transform: translateX(1.5em);
  background-color: #ffffff;
}

@keyframes toggle__animation {
  0%, 100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}
/* for converting the colors for nightmode*/
.invert-colors {
  filter: invert(100%);
}