*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.hero{
      /* The image used */
      background-image: url("images/backgroundCut");
    
      /* Set a specific height */
      min-height: 500px;
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }